{%- extends "base.html" %}

{% block content %}
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('admin_subs') }}">Subscriptions</a></li>
            <li><a href="{{ url_for('admin_schedule') }}">Schedule</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </nav>
{% block admin_content %}{%- endblock %}
    </div>
{%- endblock %}