{% import "bootstrap/utils.html" as utils %}

{%- extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="happybot_page">
        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
        <div class="row">
            <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
            </div>
        </div>
        {%- endif %}
        {%- endwith %}
        <p>HappyBot will send you an encouraging message each day from the
           person of your choice. Just fill out the form and click the
           confirmation link sent to you.
        </p>
        {{ form|render_form(extra_classes=['happybot_form']) }}
        </div>
    </div>
{%- endblock %}
